.service-selector {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 100%);
  }
  &-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 15px;

    .yellow-btn {
      margin-bottom: 15px;
    }
    &-header {
      margin: 20px 25px;
      color: var(--white-color);
      font-weight: var(--font-weight-900);
      font-size: var(--font-18);
      font-family: var(--font-oswald);
    }
    &-first {
      transform: translateX(0);
    }
    &-second {
      transform: translateX(-100%);
    }
    &-third {
      transform: translateX(-200%);
    }
    &,
    &-first,
    &-second,
    &-third {
      transition: transform 0.3s;
    }
    &-back {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 25px 20px 20px;
      svg {
        height: 12px;
        margin-right: 6px;
        margin-bottom: 2px;
        transform: rotate(180deg);
      }
      &-text {
        position: relative;
        padding-bottom: 2px;
        color: var(--yellow-color);
        font-weight: var(--font-weight-400);
        font-size: var(--font-16);
        font-family: var(--font-roboto);
        font-style: normal;
        &::after {
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 100%;
          height: 1px;
          background-color: var(--yellow-color);
          content: '';
        }
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    margin: 0 20px 30px;
    padding: 30px;
    color: var(--white-color);
    font-weight: var(--font-weight-900);
    font-size: var(--font-16);
    font-family: var(--font-roboto);
    font-style: normal;
    background-color: var(--dark-color);
    cursor: pointer;
    transition: background-color 0.1s box-shadow 0.1s;
    .service-selector-column &:last-of-type {
      margin-bottom: 0;
    }
    svg {
      width: auto;
      height: 20px;
      opacity: 0.6;
    }
    &-active {
      background-color: var(--violet-color);
      box-shadow: var(--violet-shadow);
      transition: 0.1s;
    }
  }
}

@media only screen and (min-width: 768px) {
  .service-selector {
    &-column {
      display: grid;
      grid-gap: 20px;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      align-self: self-start;
      width: 100%;
      height: fit-content;
      padding: 0 15px;
      &-header {
        display: none;
      }
      &:nth-of-type(3) {
        height: 100%;
      }
      &-back {
        display: none;
      }
      .yellow-btn {
        display: none;
      }
      &-first,
      &-second,
      &-third {
        transform: translateX(0);
      }
    }
    &-container {
      display: grid;
      grid-template-rows: min-content;
      grid-template-columns: repeat(3, 1fr);
    }
    &-item {
      height: min-content;
      margin: 0 0 0px;
      font-size: var(--font-16);
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .service-screen {
    .service-selector {
      &-container {
        grid-gap: 20px;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        padding: 0 15px;
      }
      &-item {
        padding: 25px 15px;
        font-size: var(--font-12);
      }
      &-column {
        padding: 0;
        &:nth-of-type(1) {
          grid-gap: 20px;
          grid-row: 1;
          grid-column: 1 / span 4;
          grid-template-rows: 1fr;
          grid-template-columns: repeat(4, 1fr);
          & .service-selector-item {
            svg {
              transform: rotate(90deg);
            }
          }
        }
        &:nth-of-type(2) {
          grid-row: 2 / span 4;
          grid-column: 1;
        }
        &:nth-of-type(3) {
          grid-row: 2 / span 3;
          grid-column: 2 / span 3;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .service-screen {
    .service-selector {
      &-item {
        padding: 25px 20px;
        font-size: var(--font-16);
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .service-selector {
    &-container {
      padding: 0 40px;
    }
    &-column {
      .yellow-btn {
        display: none;
      }
    }
    &-item {
      font-size: var(--font-20);
    }
  }
  .service-screen {
    .service-selector {
      &-item {
        font-size: var(--font-16);
      }
    }
  }
}
@media only screen and (min-width: 1600px) {
  .service-selector {
    &-item {
      padding: 40px 30px;
    }
  }
  .service-screen {
    .service-selector {
      &-item {
        padding: 30px;
        font-size: var(--font-20);
      }
    }
  }
}
