.service-full {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin: 0 20px;
  padding: 15px 25px;
  background-color: var(--violet-color);
  box-shadow: var(--violet-shadow);
  &-svg {
    width: 50px;
    height: 50px;
    svg {
      width: inherit;
      height: inherit;
    }
  }
  &-title {
    position: relative;
    margin: 10px 0;
    padding: 0 0 5px;
    color: var(--white-color);
    font-weight: var(--font-weight-900);
    font-size: var(--font-16);
    font-family: var(--font-oswald);
    font-style: normal;
    line-height: initial;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 2px;
      background-color: var(--yellow-color);
      content: '';
    }
  }
  &-info {
    color: var(--white-color);
    font-weight: var(--font-weight-900);
    font-size: var(--font-15);
    font-family: var(--font-roboto);
  }
  &-text {
    margin-top: 10px;
    color: var(--white-color);
    font-weight: var(--font-weight-400);
    font-size: var(--font-10);
    font-family: var(--font-roboto);
    font-style: normal;
    line-height: initial;
  }
  &-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: inherit;
    & &-item.yellow-btn {
      display: block;
      margin-bottom: 0;
      padding: 10px 20px;
      font-size: var(--font-15);
      visibility: visible;
    }
    &-item-more {
      padding-bottom: 2px;
      color: var(--white-color);
      font-weight: var(--font-weight-900);
      font-size: var(--font-12);
      font-family: var(--font-roboto);
      font-style: normal;
      line-height: initial;
      border-bottom: 1px solid var(--white-color);
      visibility: hidden;
      cursor: pointer;
    }
  }
}

@media only screen and (min-height: 600px) {
  .service-full {
    margin: 0 40px;
    padding: 25px;
    &-title {
      margin: 20px 0;
      font-size: var(--font-20);
    }
    &-text {
      font-size: var(--font-13);
    }
    &-buttons {
      margin-top: 15px;
    }
  }
}

@media only screen and (min-height: 700px) {
  .service-full {
    &-title {
      font-size: var(--font-25);
    }
    &-info {
      font-size: var(--font-18);
    }
    &-text {
      font-size: var(--font-15);
    }
    &-buttons {
      margin-top: 25px;
      & &-item.yellow-btn {
        padding: 20px;
        font-size: var(--font-18);
      }
      &-item-more {
        font-size: var(--font-15);
      }
    }
  }
}
@media only screen and (min-height: 800px) {
  .service-full {
    margin: 0 20px;
    &-buttons {
      margin-top: 22px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .service-full {
    position: relative;
    height: 100%;
    margin: 0;
    &-buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: inherit;
      & &-item.yellow-btn {
        padding: 10px 20px;
      }
      &-item-more {
        margin-left: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .service-full {
    &-svg {
      width: 55px;
      height: 55px;
    }
    &-header {
      font-size: var(--font-35);
    }
    &-text {
      font-size: var(--font-16);
    }
    &-info {
      margin-bottom: 5px;
      font-size: var(--font-25);
      line-height: initial;
    }
    &-buttons {
      & &-item.yellow-btn {
        padding: 15px 30px;
        font-size: var(--font-20);
      }
      &-item-more {
        font-size: var(--font-20);
      }
    }
  }
}
