.main-page-buissness {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: 100%;
  align-content: center;
  height: 100%;
  padding: 60px 0;
  .default-header::before {
    background-color: var(--violet-color);
  }
  .default-header-sub {
    width: 100%;
    line-height: initial;
    white-space: normal;
  }
  &-container {
    height: 100%;
  }
  &-text {
    margin: 60px 0;
    padding: 0 15px;
    color: var(--white-color);
    font-weight: var(--font-weight-400);
    font-size: var(--font-14);
    font-family: var(--font-roboto);
    font-style: normal;
    line-height: initial;
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    filter: brightness(0.4);
    picture {
      display: block;
      width: 100%;
      height: 100%;
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-page-buissness {
    display: grid;
    justify-content: center;
    justify-items: flex-end;
    &-container {
      display: grid;
      grid-template-columns: auto auto;
    }
    &-text {
      display: none;
    }
    &-bg {
      position: relative;
      width: 250px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .main-page-buissness {
    margin: 0 60px 0 auto;
    &.defalut-container {
      width: auto;
    }
    &-bg {
      width: 475px;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-page-buissness {
    width: auto;
    &.default-container {
      width: auto;
    }
    &-bg {
      width: 550px;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-buissness {
    width: auto;
    &-bg {
      width: 610px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-buissness {
    margin: 0 auto 0 100px;
    &-bg {
      width: 40vw;
    }
  }
}
