.form-fields {
  z-index: 100000000000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 45px;
  &-wrapper {
    position: relative;
    z-index: 1000000000000000;
    width: 100%;
    margin-bottom: 30px;
  }
  &-text {
    display: none;
  }

  &-input {
    position: relative;
    z-index: 10000000000000000;
    width: 100%;
    padding: 15px 0px 15px 50px;
    color: var(--white-color);
    font-size: var(--font-13);
    font-family: var(--font-roboto);
    background-color: var(--transparent);
    border: 1px solid var(--white-color);
    &-error {
      color: var(--yellow-color);
      border: 1px solid var(--yellow-color);
    }
    &::placeholder {
      color: var(--white-transparent-color);
    }
    &-name::before,
    &-phone:before {
      position: absolute;
      left: 0;
      display: block;
      width: 50px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 13px 13px;
      filter: contrast(0.5);
      content: '';
    }
    &-name::before {
      background-image: url(../../assets/images/user.svg);
    }
    &-phone::before {
      background-image: url(../../assets/images/phone.svg);
    }
  }
  &-submit {
    width: 100%;
    padding: 15px 0;
    font-size: var(--font-12);
    font-family: var(--font-oswald);
    text-transform: uppercase;
    background-color: var(--yellow-color);
    border: none;
    cursor: pointer;
  }
}

@media only screen and (min-width: 768px) {
  .form-fields {
    width: 440px;
    margin: 0 auto;
    padding: 20px 25px;
    border: 1px solid var(--yellow-color);
    &-text {
      display: block;
      margin-bottom: 30px;
      color: var(--white-color);
      font-weight: var(--font-weight-400);
      font-size: var(--font-18);
      font-family: var(--font-roboto);
      font-style: normal;
      line-height: initial;
      text-align: center;
    }
    &-input {
      &-name::before,
      &-phone::before {
        left: 50px;
      }
    }
    svg {
      order: 1;
    }
    &-wrapper {
      padding: 0 50px;
      &-button {
        margin: 30px 0 0;
      }
    }
  }
}
