.call-btn {
  cursor: pointer;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: rgba(128, 91, 233, 1);
  border-radius: 100%;
  & svg {
    height: 100%;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
  }
  &::before {
    height: 45px;
    width: 45px;
    background-color: rgba(128, 91, 233, 0.65);
  }
  &::after {
    background-color: rgba(128, 91, 233, 0.45);
    height: 55px;
    width: 55px;
  }
}

@media only screen and (min-height: 1000px) and (orientation: portrait) {
  .call-btn {
    bottom: 30px;
    right: 20px;
    width: 55px;
    height: 55px;
    padding: 12px;
    &::before {
      height: 65px;
      width: 65px;
    }
    &::after {
      height: 75px;
      width: 75px;
    }
  }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
  .call-btn {
    bottom: 60px;
    right: unset;
    left: 43px;
    width: 65px;
    height: 65px;
    &::before {
      height: 75px;
      width: 75px;
    }
    &::after {
      height: 85px;
      width: 85px;
    }
  }
}
