.main-page-service {
  &-container {
    height: 100%;
    padding: 40px 0;
    overflow: hidden;
    background-color: var(--dark-gray-2f-color);
    &-btn {
      display: none;
    }
  }
  &-header {
    position: relative;
    padding: 15px;
    &,
    &-sub {
      color: var(--white-color);
      font-size: var(--font-35);
      font-family: var(--font-oswald);
      line-height: 35px;
    }
    &-sub {
      margin-bottom: 10px;
      padding: 0 15px;
      color: var(--yellow-color);
      font-size: var(--font-15);
      line-height: 15px;
      text-transform: uppercase;
    }
    &::before {
      position: absolute;
      top: 0;
      width: 30px;
      height: 2px;
      background: var(--violet-color);
      content: '';
    }
  }
}

@media only screen and (min-height: 700px) {
  .main-page-service {
    &-container {
      // padding: 50px 0;
    }
    &-header {
      &-sub {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-page-service {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: auto !important;
      //  padding: 50px 0;
      &-btn {
        display: none;
        .yellow-btn {
          margin: 20px auto;
        }
      }
    }
    &-header {
      font-size: var(--font-55);
      line-height: initial;
      &-sub {
        margin-bottom: 30px;
        font-size: var(--font-20);
        line-height: initial;
      }
      &::before {
        width: 40px;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (min-height: 1000px) {
  .main-page-service {
    &-container {
      //padding: 120px 0;
      &-btn.yellow-btn {
        margin: 40px auto;
      }
    }
    &-header {
      &-sub {
        margin-bottom: 70px;
      }
      &::before {
        width: 40px;
      }
    }
  }
}

@media only screen and (min-height: 1200px) and (orientation: portrait) {
  .main-page-service {
    &-container {
      padding: 200px 0;
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-page-service {
    &-container {
      width: 1110px;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-service {
    &-container {
      width: 1400px;
      &-btn.yellow-btn {
        margin: 60px auto 0;
        font-size: var(--font-20);
      }
    }
    &-header {
      &-sub {
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-width: 1800px) {
  .main-page-service {
    &-container {
      width: 1600px;
    }
  }
}
