.form-result {
  position: absolute;
  top: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 60px 10px 30px;
  overflow: hidden;
  .default-socials {
    display: none;
  }
  &-header {
    margin-bottom: 20px;
    color: var(--white-color);
    font-weight: var(--font-weight-900);
    font-size: var(--font-22);
    font-family: var(--font-oswald);
    line-height: initial;
  }
  &-contacts {
    &-header {
      margin-bottom: 15px;
      color: var(--white-color);
      font-weight: var(--font-weight-900);
      font-size: var(--font-16);
      font-family: var(--font-roboto);
      text-transform: uppercase;
    }
    &-list {
      list-style: none;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-left: 30px;
        color: var(--white-color);
        font-weight: var(--font-weight-900);
        font-family: var(--font-roboto);
        &::before {
          position: absolute;
          left: 0;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: '';
        }
        &-phone::before {
          background-image: url(../../assets/images/phone.svg);
        }
        &-email::before {
          background-image: url(../../assets/images/mail.svg);
        }
      }
    }
  }
  &-svg {
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
    margin: 0 auto 20px;
    svg {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .yellow-btn {
    margin: 0 auto;
    padding: 15px 25px;
    text-transform: none;
    visibility: visible;
  }
}

@media only screen and (min-height: 600px) {
  .form-result {
    padding: 60px 25px 30px;

    &-header {
      margin-bottom: 35px;
      font-size: var(--font-24);
    }
  }
}

@media only screen and (min-height: 760px) {
  .form-result {
    padding: 100px 25px 30px;
    &-header {
      margin-bottom: 50px;
    }
    &-svg {
      width: 70%;
    }
    &-contacts {
      &-header {
        margin-bottom: 30px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .form-result {
    .default-socials {
      display: flex;
    }
    &-header {
      grid-row: 1 / span 2;
      margin: 0;
      font-size: var(--font-30);
      line-height: 110%;
      &-container {
        display: grid;
        grid-template-columns: 60% min-content;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 40px;
      }
    }
    &-svg {
      width: 60%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .form-result {
    padding: 100px 40px 30px;
    &-header {
      grid-row: 1 / span 2;
      margin: 0;
      font-size: var(--font-40);
      &-container {
        display: grid;
        grid-column-gap: 70px;
        align-items: end;
        margin-bottom: 40px;
      }
    }
    &-svg {
      width: 100%;
      height: 40%;
    }
  }
}
