.main-page-portfolio-carousel-item {
  position: relative;
  height: 200px;
  margin: 0 40px;
  padding: 20px;
  background-position: center center;
  background-size: cover;
  &-header,
  &-link,
  &-info {
    position: relative;
    z-index: 1;
    font-size: var(--font-10);
    font-family: var(--font-roboto);
    line-height: initial;
  }
  &-header,
  &-info {
    margin-bottom: 20px;
    color: var(--white-color);
  }
  &-header {
    font-weight: var(--font-weight-900);
  }
  &-link {
    position: relative;
    padding: 5px 0;
    color: var(--yellow-color);
    visibility: hidden;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: var(--yellow-color);
      content: '';
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 26, 29, 0.57);
  }
}

@media only screen and (min-height: 600px) {
  .main-page-portfolio-carousel-item {
    height: 250px;
    padding: 25px 35px;
    &-header,
    &-link,
    &-info {
      font-size: var(--font-13);
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-page-portfolio-carousel-item {
    width: 270px;
    height: 200px;
    transition: opacity 0.3s;
    &-header,
    &-link,
    &-info {
      opacity: 0;
      transition: opacity 0.3s;
    }
    .current-slide & {
      &-header,
      &-link,
      &-info {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .react-multi-carousel-item {
    .main-page-portfolio-carousel-item {
      &-header,
      &-link,
      &-info {
        font-size: var(--font-18);
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-portfolio-container {
    .react-multi-carousel-item {
      height: 350px;
      .main-page-portfolio-carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 500px;
        height: 300px;
        &-link {
          width: min-content;
        }
      }
      &--active {
        height: 350px;
        & ~ .react-multi-carousel-item {
          transform: translateX(-50%);
        }
        .main-page-portfolio-carousel-item {
          min-width: 600px;
          height: 350px;
          &-header,
          &-info {
            margin-bottom: 30px;
            font-size: var(--font-20);
          }
        }
      }
    }
  }
}
