.carousel {
  &-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .main-page-portfolio-container {
    .carousel {
      position: relative;
      overflow: visible;
      &-button,
      &-dots {
        display: none;
      }
      &-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 60px 30px;
        align-items: center;
        width: 100%;
        transform: none !important;
        &-item:first-of-type,
        &-item:last-of-type {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .main-page-portfolio-container {
    .carousel-list {
      min-height: 550px;
    }
  }
}
