.main-page-portfolio-carousel-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  margin: 0 40px;
  padding: 25px 35px;
  background-position: center center;
  background-size: cover;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    img {
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }
  &-header {
    position: relative;
    z-index: 1;
    font-weight: var(--font-weight-900);
    font-size: var(--font-20);
    font-family: var(--font-oswald);
    line-height: initial;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-type {
    position: relative;
    z-index: 1;
    font-weight: var(--font-weight-500);
    font-family: var(--font-roboto);
    text-align: center;
    text-transform: uppercase;
  }
  &-header,
  &-type {
    color: var(--white-color);
  }
  .yellow-btn {
    position: absolute;
    bottom: 30px;
    z-index: 1;
    width: auto;
    margin: 0 auto;
    background-color: var(--transparent);
    visibility: visible;
    transition: ease-in-out opacity 0.5s;
  }
  &-shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 26, 29, 0.57);
  }
}

@media only screen and (min-width: 768px) {
  .main-page-portfolio-carousel-item {
    z-index: 10;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    padding: 30px 0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.94);
    cursor: pointer;
    transition: ease-in-out height 0.4s;
    &-header {
      font-size: var(--font-25);
    }
    &-type {
      margin-top: 10px;
      font-size: var(--font-15);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-shadow {
      background: rgba(29, 26, 29, 0.35);
    }
    .yellow-btn {
      opacity: 0;
    }
    &-active {
      z-index: 20;
      height: 450px;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.94);
      .yellow-btn {
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .main-page-portfolio-carousel-item {
    height: 500px;
    &-header {
      font-size: var(--font-30);
    }
    &-type {
      margin-top: 10px;
      font-size: var(--font-20);
    }
    &-active {
      height: 550px;
    }
  }
}
