@media only screen and (min-width: 768px) {
  .main-page-portfolio-container {
    .alice-carousel {
      position: relative;
      width: 100%;
      &__stage {
        display: flex;
        align-items: center;
        min-height: 250px;
        &-item {
          z-index: 5;
          min-width: 100%;
          transform: translateX(80%) !important;
          transition: inherit;
          & * {
            transition-duration: inherit;
          }
          &.__active {
            z-index: 10;
            transform: translateX(0%) !important;
            & ~ .alice-carousel__stage-item {
              transform: translateX(-80%) !important;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-portfolio-container {
    .alice-carousel {
      &__stage {
        min-height: 350px;
      }
    }
  }
}
