.main-page-portfolio-carousel-item {
  position: relative;
  margin: 0 40px;
  padding: 20px;
  height: 200px;
  background-position: center center;
  background-size: cover;
  &-header,
  &-link,
  &-info {
    position: relative;
    z-index: 1;
    font-family: var(--font-roboto);
    font-size: 10px;
    line-height: initial;
  }
  &-header,
  &-info {
    color: var(--white-color);
    margin-bottom: 20px;
  }
  &-header {
    font-weight: bold;
  }
  &-link {
    position: relative;
    padding: 5px 0;
    color: var(--yellow-color);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background: var(--yellow-color);
    }
  }
  &-shadow {
    z-index: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(29, 26, 29, 0.57);
  }
}

@media only screen and (min-height: 600px) {
  .main-page-portfolio-carousel-item {
    padding: 25px 35px;
    height: 250px;
    &-header,
    &-link,
    &-info {
      font-size: 13px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-page-portfolio-container {
    .react-multi-carousel-item {
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      transform: translateX(50%);
      transition: 0.5s;
      .main-page-portfolio-carousel-item {
        width: 270px;
        height: 200px;
        transition: 0.3s;
        &-header,
        &-link,
        &-info {
          opacity: 0;
          transition: 0.3s;
        }
      }
      &--active {
        justify-content: center;
        z-index: 10;
        transform: translateX(0%);
        & ~ .react-multi-carousel-item {
          transform: translateX(-50%);
        }
        .main-page-portfolio-carousel-item {
          min-width: 450px;
          height: 250px;
          transition: 0.3s;
          &-header,
          &-link,
          &-info {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .react-multi-carousel-item {
    .main-page-portfolio-carousel-item {
      &-header,
      &-link,
      &-info {
        font-size: 18px;
      }
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page-portfolio-container {
    .react-multi-carousel-item {
      height: 350px;
      .main-page-portfolio-carousel-item {
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-link {
          width: min-content;
        }
      }
      &--active {
        height: 350px;
        & ~ .react-multi-carousel-item {
          transform: translateX(-50%);
        }
        .main-page-portfolio-carousel-item {
          min-width: 600px;
          height: 350px;
          &-header,
          &-info {
            font-size: 20px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
