.header {
  z-index: 100000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  &-logo {
    z-index: 10000;
    width: 100px;
    height: 50px;
    &-link {
      display: block;
      width: 100%;
      height: 100%;
      svg {
        height: inherit;
        overflow: visible;
      }
      &-svg-black {
        display: none;
      }
    }
  }
  &-black {
    background-color: var(--dark-gray-1d-color);
    .header-logo {
      &-link {
        &-svg-white {
          display: block;
        }

        &-svg-black {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    background-color: var(--white-color);
    &-black {
      background-color: var(--dark-gray-1d-color);
    }
    &-logo {
      &-link {
        width: 100%;
        height: 100%;
        &-svg {
          &-white {
            display: none;
          }
          &-black {
            display: block;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 10px 60px;
  }
}
