.menu {
  display: none;
  &-btn {
    visibility: hidden;
  }
  &-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-item {
    position: relative;
    margin-right: 40px;
    padding: 5px 0;
    color: var(--dark-gray-1d-color);
    font-weight: var(--font-weight-400);
    font-size: var(--font-18);

    font-family: var(--font-roboto);
    font-style: normal;
    line-height: 18px;

    &.current::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 26px;
      height: 2px;
      background-color: var(--saturated-violet-color);
      content: '';
    }
  }
}
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
}
@media only screen and (min-width: 1600px) {
  .menu {
    &-item {
      margin-right: 70px;
      font-size: var(--font-20);
      line-height: 22px;
      &.current::after {
        width: 35px;
      }
    }
  }
}
