.bg {
  position: absolute;
  display: grid;
  grid-template-columns: 65% 35%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &-filled {
    background: #1d1a1d;
  }
  &-img {
    background-size: cover;
    background-color: #1d1a1d;
  }
}

@media only screen and (min-width: 768px) {
  .bg {
    grid-template-columns: 1fr 1fr;
  }
}
