.bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  height: 100vh;
  &-filled {
    background: var(--dark-gray-1d-color);
  }
  &-img {
    background-color: var(--dark-gray-1d-color);
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  .bg {
    grid-template-columns: 1fr 1fr;
  }
}
