.main-page-content {
  margin-top: 0px;
  padding: 0 0 0 20px;
  display: grid;
  grid-template-columns: 65% min-content;
  justify-content: space-between;
  &-title {
    grid-column: 1;
    padding-top: 15px;
    position: relative;
    font-family: var(--font-oswald);
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 34px;
    max-width: 100%;
    color: var(--white-color);
    &::before {
      content: '';
      background: var(--violet-color);
      position: absolute;
      top: 0;
      width: 30px;
      height: 2px;
    }
  }
  &-social {
    padding: 0 15px 0 20px;
    grid-column: 2;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--white-color);
    &-link {
      display: flex;
      justify-self: center;
      align-items: center;
      height: 30px;
      width: 30px;
      padding: 7px;
      border-radius: 100%;
      border: 1px solid var(--white-color);
      & svg {
        height: 100%;
        width: 100%;
      }
    }
  }
  &-button {
    width: 175px;
    padding: 15px 20px;
    margin: 20px 0 0;
    grid-column: 1;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
    border: 2px solid var(--yellow-color);
    font-family: var(--font-oswald);
    color: var(--white-color);
    background: var(--transparent);
  }
}

@media only screen and (min-height: 600px) {
  .main-page-content {
    margin-top: 20px;
    &-title {
      font-size: 40px;
      line-height: 40px;
    }
  }
}

@media only screen and (min-height: 700px) {
  .main-page-content {
    margin-top: 40px;
  }
}
@media only screen and (min-height: 730px) {
  .main-page-content-button {
    margin-top: 40px;
  }
}

@media only screen and (min-height: 760px) {
  .main-page-content {
    margin-top: 50px;
  }
  .main-page-content-button {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 760px) and (min-height: 760px) and (orientation: portrait) {
  .main-page-content {
    margin-top: 150px;
  }
}

@media only screen and (min-width: 768px) {
  .main-page {
    padding: 80px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &-content {
      width: 100%;
      grid-template-columns: 50% min-content;
      &-title {
        font-size: 64px;
        line-height: 64px;
        max-width: 100%;
      }
      &-button {
        padding: 15px 30px;
        width: 260px;
        font-size: 25px;
      }
      &-social-link {
        height: 35px;
        width: 35px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .main-page-content {
    &-title {
      font-size: 70px;
      line-height: 70px;
    }
    &-button {
      margin-top: 20px;
      padding: 10px 21px;
      width: 265px;
      font-size: 20px;
    }
  }
}

@media only screen and (min-height: 800px) {
  .main-page-content {
    &-button {
      margin-top: 40px;
    }
  }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
  .main-page-content {
    &-title {
      font-size: 80px;
      line-height: 80px;
    }
    &-button {
      padding: 15px 25px;
      font-size: 25px;
      margin-top: 60px;
    }
    &-social-link {
      height: 45px;
      width: 45px;
      padding: 10px;
    }
  }
}

@media only screen and (min-height: 800px) and (orientation: landscape) {
  .main-page-content {
    &-button {
      margin-top: 80px;
    }
  }
}

@media only screen and (min-width: 1366px) and (orientation: landscape) {
  .main-page-content {
    max-width: 50%;
    padding-left: 50px;
    grid-template-columns: auto max-content;
    justify-content: start;
    grid-column-gap: 70px;
    &-title {
      grid-column: 2;
      font-size: 64px;
      line-height: 64px;
      &::before {
        width: 50px;
      }
    }
    &-button {
      grid-column: 2;
    }
    &-phone {
      right: unset;
      left: 45px;
    }
    &-social {
      position: relative;
      margin-top: 20px;
      align-items: center;
      grid-column: 1;
      padding: 0;
      border: none;
      &-link {
        height: 50px;
        width: 50px;
        padding: 12px;
      }
      &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 32vh;
        bottom: -35vh;
        background-color: var(--white-color);
      }
    }
  }
}

@media only screen and (min-width: 1600px) and (orientation: landscape) {
  .main-page-content {
    max-width: 50%;
    padding-left: 50px;
    grid-template-columns: auto max-content;
    justify-content: start;
    grid-column-gap: 70px;
    &-title {
      font-size: 80px;
      line-height: 80px;
      &::before {
        width: 50px;
      }
    }
    &-button {
      width: 340px;
      font-size: 25px;
      line-height: 25px;
      padding: 25px;
    }
    &-social {
      &::after {
        content: '';
        width: 2px;
        height: 30vh;
        bottom: -32vh;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (min-height: 1000px) and (orientation: portrait) {
  .main-page-content {
    &-title {
      font-size: 80px;
      line-height: 80px;
    }
    &-button {
      margin-top: 100px;
      padding: 25px 27px;
      width: 320px;
      font-size: 30px;
    }
    &-social {
      &-link {
        height: 50px;
        width: 50px;
        padding: 12px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (min-height: 1000px) and (orientation: landscape) {
  .main-page-content {
    margin-top: 65px;
    &-title {
      font-size: 80px;
      line-height: 80px;
    }
  }
}
