.carousel {
  margin-top: 20px;
  &-buttons {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    & * {
      pointer-events: all;
    }
  }
}

.stick {
  display: block;
  width: 2px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--violet-color);
}

@media only screen and (min-height: 650px) {
  .main-page {
    .carousel {
      margin-top: 50px;
      .service-item {
        height: 273px;
        padding: 15px 25px;
      }
    }
  }
}

@media only screen and (min-height: 760px) {
  .main-page {
    .carousel {
      margin-top: 70px;

      .service-item {
        height: 315px;
        padding: 25px 35px;
      }
    }
    .stick {
      height: 55px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-page {
    .carousel-button {
      display: none;
    }
    .carousel {
      padding: 0 20px;
      .service-item {
        height: 100%;
      }
      &-list {
        position: relative;
        display: grid;
        grid-column-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        padding: 0;
        transform: none !important;
        &-item {
          width: 100%;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media only screen and (min-width: 1366px) {
  .main-page .carousel {
    padding: 0 170px;
    &-list {
      grid-column-gap: 50px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .main-page .carousel {
    grid-column-gap: 90px;
  }
}
