.footer {
  min-height: 100vh;
  &-svg {
    height: 50px;
    svg {
      height: 100%;
    }
  }
  &-map {
    display: none;
    border: none;
  }
  &-column-3 {
    display: none;
  }
  &-logo {
    width: 100px;
    height: 20px;
    background-image: url(../../assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 50px 15px 50px;
  }
  &-header {
    margin: 40px 0;
    color: var(--white-color);
    font-size: var(--font-14);
    font-family: var(--font-oswald);
    text-transform: uppercase;
  }
  &-contact-btn {
    display: flex;
    align-items: center;
    background-color: var(--transparent);
    border: none;
    &-text {
      color: var(--white-color);
      font-weight: var(--font-weight-900);
      font-size: var(--font-14);
      font-family: var(--font-oswald);
      font-style: normal;
      text-transform: uppercase;
    }
    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      margin-right: 20px;
      border: 1px solid var(--white-color);
      border-radius: 100%;

      svg {
        height: 14px;
        widows: 14px;
      }
    }
  }
  &-contacts {
    &-list {
      list-style: none;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding-left: 30px;
        color: var(--white-color);
        font-weight: var(--font-weight-900);
        font-family: var(--font-roboto);
        &::before {
          position: absolute;
          left: 0;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: '';
        }
        &-phone::before {
          background-image: url(../../assets/images/phone.svg);
        }
        &-email::before {
          background-image: url(../../assets/images/mail.svg);
        }
        &-address::before {
          background-image: url(../../assets/images/pin.svg);
        }
      }
    }
  }
  &-socials {
    &-list {
      display: flex;
      list-style: none;
      &-item {
        width: 32px;
        height: 32px;
        margin-right: 25px;
        border: 1px solid var(--white-color);
        border-radius: 100%;
        &,
        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        a {
          width: 100%;
          height: 100%;
          svg {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
  &-copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 20px;
    color: var(--white-color);
    font-size: var(--font-12);
    font-family: var(--font-roboto);
    line-height: initial;
    text-align: center;
    background-color: var(--dark-gray-2f-color);
  }
  .default-header {
    &,
    &-sub {
      padding-left: 0;
    }
  }
  &-single {
    .footer-column-2 {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    .default-header-sub {
      font-size: var(--font-15);
    }
    &-container {
      & > svg {
        width: 138px;
        height: auto;
      }
    }
    .footer-single & {
      display: flex;
      justify-content: center;
      padding: 100px 50px 50px;
      &-container {
        padding-top: 80px;
        padding-bottom: 20px;
      }
      &-grid {
        grid-column-gap: 10px;
        grid-template-columns: min-content min-content;
        justify-content: center;
        width: 100%;
        padding: 0 20px;
      }
      &-column-3 {
        display: block;
        grid-row: 2 / span 2;
        grid-column: 2;
        .form-fields {
          width: 380px;
          background: var(--violet-color);
          border: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-rows: auto 25%;

    &-map {
      display: block;
      width: 100%;
      height: 100%;
      filter: grayscale(1) contrast(0.7);
      transition: 0.2s;
      &:hover {
        filter: grayscale(0) contrast(1);
      }
    }

    &-logo {
      width: 120px;
      height: 30px;
      background-image: url(../../assets/images/logo.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
    &-header {
      font-size: var(--font-16);
    }
    &-container {
      padding: 50px 75px;
    }
    &-column-2 {
      grid-row: 1 / span 3;
      grid-column: 2;
    }
    &-grid {
      display: grid;
      grid-gap: 20px;
      grid-column-gap: 160px;
      grid-template-columns: 1fr 1fr;
    }
    &-contact-btn {
      margin-top: 50px;
      &-text {
        font-size: var(--font-16);
      }
      &-svg {
        width: 40px;
        height: 40px;
      }
    }
    &-copyright {
      position: relative;
      grid-row: 3;
      grid-column: 1 / span 2;
      margin-top: 40px;
      text-align: left;
      background-color: var(--transparent);
    }
    &-contacts {
      grid-row: 1;
      grid-column: 1;
      .footer-single & {
        grid-row: 2;
      }
      &-list {
        &-item {
          margin-bottom: 30px;
          padding-left: 40px;
          &::before {
            width: 25px;
            height: 25px;
            content: '';
          }
        }
      }
    }
    &-socials {
      grid-row: 2;
      grid-column: 1;
      .footer-single & {
        grid-row: 3;
      }
      &-list {
        &-item {
          width: 40px;
          height: 40px;
          a svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    .default-header-sub {
      font-size: var(--font-20);
    }
    &-headers {
      grid-column: 1 / span 2;
    }
    &-container {
      padding: 50px;
    }

    &-grid {
      grid-gap: unset;
      grid-template-columns: auto auto auto;
      align-self: normal;
    }

    .form-fields {
      margin-top: 50px;
      background-color: var(--violet-color);
      border: none;
      &-inputs {
        font-size: var(--font-15);
      }
      &-submit {
        font-size: var(--font-15);
      }
    }

    &-column-3,
    .footer-single &-column-3 {
      display: block;
      grid-row: 1 / span 3;
      grid-column: 3;
    }

    .footer-single & {
      &-container {
        justify-content: center;
      }
      &-grid {
        grid-column-gap: 100px;
        grid-template-columns: min-content min-content max-content;
        align-content: center;
        justify-content: space-between;
        padding-right: 200px;
      }
      &-contacts {
        grid-row: 2 / span 2;
      }
      &-socials {
        grid-row: 2;
        grid-column: 2;
      }
      &-column-3 {
        .form-fields {
          width: 430px;
          height: 100%;
          margin: 0;
        }
      }
    }

    &-contact-btn {
      &-text {
        white-space: nowrap;
      }
    }
  }
}
