.carousel-button {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  &-right {
    right: 10px;
    transform: rotate(180deg);
  }
  &-left {
    left: 10px;
  }
  & svg {
    height: 20px;
  }
}
